$BLACK: #1B2527;
$RAIN: #E0E0E0;
$WHITE: #FFFFFF;
$GREY: #B5B5B5;

$BLACK_DARK: #000000;
$NIGHT: #04363E;
$FOREST: #1C5458;
$TREE: #25545C;
$GRASS: #00AD5A;
$SEA: #00677E;
$SKY: #30A8BA;
$SOIL: #B99775;
$SOIL_LIGHT: #EEE6DE;
$ORANGE: #E48B05;


$WATER: #D7EFF2;
$WIND: #EDF2F2;
$AIR: #F0F3F3;
$CLOUD: #FAFAFA;
$LIGHT: #FEFEFE;
$SMOKE: #EFEFEF;
$GREY2: #666666;
$GREY2: #B5B5B5;
$GREY3: #888888;

$SUN: #FEFAEC;
$SAND: #EFC839;
$LAVA: #FF5E1F;
$FIRE: #B32D2D;
$FIRE_HOVER: #952A22;
$FLOWER: #DCACC7;
$LEAF: #ACC4A0;
$OLIVE: #5E7E4E;
$SUNSET: #FEF1F1;
$WHITE: #FFFFFF;
$ACTIVE_NOTIFICATION: #FFD8D3;

$DISABLED: rgba(37, 37, 37, 0.25); // #252525 25%
$HOVER: #004E60;
$HOVER2: #3093BA0A;
$HOVER3: #3093BA3D;
$HOVER_BTN: #3093BA04;

$SOIL: #B99775;
$SOIL_DARK: #A47B52;
$WATER_LIGHT: #EFF9FA;
$LEAF_LIGHT: #F1F7ED;

$SEVERITY_MINOR_BG: #FDF8E8;
$SEVERITY_MAJOR_BG: #FDF1EC;

$ROW_WITH_EXT_BG: #F0F8F9;

$NEUTRAL_DARK: #BABBBD;
$MIDNIGHT_MOSS: #E8EDED;
